<header>
  <nav class="menu">
    <div class="nav-inner">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-3 bg-white">
          <div class="inline-block">
            <div class="logo-area p-4">
              <%= link_to root_path do %>
                <%= image_tag 'logo.png' %>
              <% end %>
            </div>
          </div>
          <div class="inline-block">
            <ul class="grid grid-cols-3 place-content-center">
            <li id="dropdown-wrapper" class="relative grid grid-cols-1">
              <button onclick="toggleMenu()" class="relative block text-gray-700 text-center py-2 px-4 m-2">
                <span>はじめに</span>
              <div id="menu" class="hidden absolute left-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
                <%= link_to 'コノタメとは', "#", class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
                <%= link_to 'ご利用方法', "#", class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
              </div>
            </li>
            <li id="dropdown-wrapper2" class="relative grid grid-cols-1">
              <button onclick="toggleMenu2()" class="relative block text-gray-700 text-center py-2 px-4 m-2">
                <span>質問</span>
              <div id="menu2" class="hidden absolute left-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
                <%= link_to '質問一覧', questions_path, class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
                <%= link_to '新規投稿', new_question_path, class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
                <%= link_to 'ブックマーク', bookmark_questions_questions_path, class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
              </div>
            </li>
            <li id="dropdown-wrapper3" class="relative grid grid-cols-1">
              <button onclick="toggleMenu3()" class="relative block text-gray-700 text-center py-2 px-4 m-2">
                <span>エビデンス</span>
              <div id="menu3" class="hidden absolute left-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl">
                <%= link_to 'エビデンス一覧', evidences_path, class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
                <%= link_to 'お気に入り', "#", class:"block px-4 py-2 text-gray-800 hover:bg-green-500 hover:text-white" %>
              </div>
            </li>
            </ul>
          </div>
          <div class="inline-block">
            <ul class="grid grid-cols-2 place-content-center float-right">
              <li class="text-gray-700 text-center px-4 py-2 m-2">
                <%= link_to "#{current_user.name}さん", '#' %>
              </li>
              <li class="text-white text-center px-4 py-2 m-2">
                <%= link_to (t 'defaults.logout'), logout_path, method: :delete, class: "rounded-full py-2 px-4 bg-green-500" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  var menu = document.getElementById("menu");
  var menu2 = document.getElementById("menu2");
  var menu3 = document.getElementById("menu3");

  // open/close the menu when the user clicks on the button
  function toggleMenu() {
      if (menu.classList.contains('hidden')) {
          menu.classList.remove('hidden');
      } else {
          menu.classList.add('hidden');
      }
  }

  function toggleMenu2() {
    if (menu2.classList.contains('hidden')) {
        menu2.classList.remove('hidden');
    } else {
        menu2.classList.add('hidden');
    }
  }

  function toggleMenu3() {
    if (menu3.classList.contains('hidden')) {
        menu3.classList.remove('hidden');
    } else {
        menu3.classList.add('hidden');
    }
  }

  // close the menu when the user clicks outside of it 
  window.onclick = function (event) {
      var dropdownWrapper = document.getElementById('dropdown-wrapper');
      if (!dropdownWrapper.contains(event.target) && !menu.classList.contains('hidden')) {
          menu.classList.add('hidden');
      }
  }

  window.onclick = function (event) {
      var dropdownWrapper2 = document.getElementById('dropdown-wrapper2');
      if (!dropdownWrapper2.contains(event.target) && !menu2.classList.contains('hidden')) {
          menu2.classList.add('hidden');
      }
  }

  window.onclick = function (event) {
      var dropdownWrapper3 = document.getElementById('dropdown-wrapper3');
      if (!dropdownWrapper3.contains(event.target) && !menu3.classList.contains('hidden')) {
          menu3.classList.add('hidden');
      }
  }
</script>