<tr id="answer-<%= answer.id %>">
  <td>
    <h3><%= answer.user.name %></h3>
    <div id="js-answer-<%= answer.id %>">
      <%= simple_format(answer.body) %>
    </div>
    <div id="js-textarea-answer-box-<%= answer.id %>" style="display: none;">
      <textarea id="js-textarea-answer-<%= answer.id %>" class="form-control mb-1"><%= answer.body %></textarea>
      <button class="js-button-edit-answer-cancel" data-answer-id="<%= answer.id %>">キャンセル</button>
      <button class="js-button-answer-update" data-answer-id="<%= answer.id %>">更新</button>
    </div>
  </td>
  <td>
  <% if current_user && current_user.own?(answer) %>
    <%= render 'answers/crud_menus', answer: answer %>
  <% else %>
    <%= render 'answers/like_button', answer: answer, cookies: @cookies %>
  <% end %>
  </td>
</tr>