<tr id="answer-<%= answer.uuid %>">
  <td style="width: 60px">
    <%= image_tag 'sample.jpg', class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3><%= answer.user.name %></h3>
    <div id="js-answer-<%= answer.uuid %>">
      <%= simple_format(answer.body) %>
    </div>
    <div id="js-textarea-comment-box-<%= answer.uuid %>" style="display: none;">
      <textarea id="js-textarea-answer-<%= answer.uuid %>" class="form-control mb-1"><%= answer.body %></textarea>
      <button class="js-button-edit-comment-cancel" data-answer-id="<%= answer.uuid %>">キャンセル</button>
      <button class="js-button-comment-update" data-answer-id="<%= answer.uuid %>">更新</button>
    </div>
  </td>

  <% if current_user.own?(answer) %>
    <td>
      <ul>
        <li>
          <a href="#" class='js-edit-answer-button' data-answer-id="<%= answer.uuid %>">
            <%= icon 'fa', 'pen' %>
          </a>
        </li>
        <li>
          <a href="#" class='js-delete-comment-button' data-answer-id="<%= answer.uuid %>">
            <%= icon 'fas', 'trash' %>
          </a>
        </li>
      </ul>
    </td>
  <% end %>
</tr>