<tr id="answer-<%= answer.id %>">
  <td>
    <h3><%= answer.user.name %></h3>
    <div id="js-answer-<%= answer.id %>">
      <%= simple_format(answer.body) %>
    </div>
    <div id="js-textarea-answer-box-<%= answer.id %>" style="display: none;">
      <textarea id="js-textarea-answer-<%= answer.id %>" class="form-control mb-1"><%= answer.body %></textarea>
      <button class="js-button-edit-answer-cancel" data-answer-id="<%= answer.id %>">キャンセル</button>
      <button class="js-button-answer-update" data-answer-id="<%= answer.id %>">更新</button>
    </div>
  </td>

  <% if current_user.own?(answer) %>
    <td>
      <ul>
        <li>
          <a href="#" class='js-edit-answer-button' data-answer-id="<%= answer.id %>">
            <%= icon 'fa', 'pen' %>
          </a>
        </li>
        <li>
          <%= link_to answer_path(answer), class: 'js-delete-answer-button', method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, remote: true do %>
            <%= icon 'fa-solid', 'trash' %>
          <% end %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>